.inscription {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .inscription h1 {
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px;
  }
  
  .inscription form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments du formulaire */
  }
  
  .inscription form label {
    width: 100%; /* Assurer que les labels prennent toute la largeur */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centrer les labels */
  }
  
  .inscription form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 40px); /* Ajustement pour l'icône */
    padding-right: 40px; /* Espace pour l'icône */
  }
  
  .inscription form .password-input {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .inscription form .password-toggle {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .inscription form button.primary {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center; /* Centrer le bouton */
  }
  
  .inscription form button.primary:hover {
    background-color: #218838;
  }
  .oauth-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .oauth-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s ease;
  }
  
  .oauth-icon.google {
    background-color: #db4437;
  }
  
  .oauth-icon.facebook {
    background-color: #3b5998;
  }
  
  .oauth-icon.apple {
    background-color: black;
  }
  
  .oauth-icon:hover {
    opacity: 0.8;
  }
  